/* reset estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-width: 100vh;/* altura minima  */
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;/* conteudo no centro */
}
.instagram-wrapper {
    display: flex; /* flez container = todos itens ficaram em linha ocupando o maior espaço */
    align-items: center; /* alinhamento eizo y vertical dos itens */
    justify-content: start; /* da esquerda pra direita*/
    width: 60%;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    
}

.instagram-phone img {
     height: 40rem;
}

/* estilização do lado direito */

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column; /* muda o eizo para coluna (ao contraio) */
    width: 50%;
    min-height: 34rem;

}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;

} /* o nth-child(1) é o primeiro grupo criado */

.logo_insta {
    height: 3rem;

}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden; /* tudo que for quadrado e ultrapassar sera escondido */

}

.profile-photo img {
    height: 8rem;
}

.instagramlogin1 {
    background-color: #0095f6;
    color: white;
    padding: 10px;
    border-radius: 4px;
    

}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}
.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;

}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('botao_applestore.png');
}

.app-download:nth-child(2) {
    background-image: url('botao_playstore.png') ;
}
/*  media queries */
/* setando responsividade para cel e tablet para até 1024p*/
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }

}
@media (max-width: 650px) {
   body{
       background-color: white;
   }
    .instagram-wrapper {
    width: 90%;
    }
    .instagram-phone {
        display: none;
    }
    .instagram-continue {
        width: 100%;
    }

    .group {
        border: 1px solid transparent;
    }
}